{% extends "base.html" %}
{% block title %}Sing Up{% endblock %}

{% block content %}
<form method="POST" action="">
    <h3 aling="center">Sing Up</h3>
    <div class="form-group">
        <label for="email">Email</label>
        <input type="email" class="form-control" id="email" name="email" placeholder="exemplo@exemplo.com">

        <label for="nome">Nome</label>
        <input type="text" class="form-control" id="nome" name="nome" placeholder="Nome">

        <label for="senha1">Senha</label>
        <input type="password" class="form-control" id="senha1" name="senha1" placeholder="Senha">

        <label for="senha2">Confirme a Senha</label>
        <input type="password" class="form-control" id="senha2" name="senha2" placeholder="Confirme a Senha">

        <br>

        <button type="submit" class="btn btn-primary">Cadastrar</button>


    </div>
</form>
{% endblock %}